*{
			    margin: 0;
			    padding: 0;
			    -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                
		    }
		    
		    body{
		    	    background-image: url(../img/bg/1.jpg);
		    	    background-size: cover;
		    	    background-attachment: fixed;
		    	    background-repeat: no-repeat;
		    	    height: 100%;
		    	    font-family: "黑体","HeitiSC";!important;
		    	    overflow: hidden;
		    	    table-layout: fixed;
		    	    word-wrap: break-word;
		    }
		    input{
		    	    -webkit-user-select: text;
		    }
		    ::-webkit-scrollbar {
		    	    display: none;
		  	}
		  	
		    #map{
		    	    text-align: center;
		    	    width: 100%;
		    	    height: 100%;
		    	    position: absolute;
		    	    left: 0;
		    	    top: 0;
		    }
		    #map_img{
		    	    width: 1200px;
		    	    margin: 0 auto;
		    	    margin-top: 40px;
		    	    position: relative;
		    	    right: 0;
		    	    zoom: 1;
		    }
		    #header{
		    	    width: 100%;
		    	    height: 150px;
		    	    position: absolute;
		    	    top: 0;
		    	    left: 0;
		    	    display: flex;
		    	    justify-content: space-between;
		    	    align-items: center;
		    }
		    #search{
		    	    width: 20px;
		    	    height: 40px;
		    	    background: transparent;
		    	    background-color: rgba(255, 255, 255, 0.7);
		    	    margin-left: 50px;
		    	    color: #BBBBBB;
		    	    border-radius: 25px;
		    	    display: none;
		    }
		    #search input{
		    	    height: 40px;
		    	    width: 200px;
		    	    margin-left: 15px;
		    	    border: none;
		    	    font-size: 14px;
		    	    background: transparent;
		    }
		    #search input:focus{
		        outline: none;
		    }
		    #search input::-webkit-input-placeholder { 
                color: #ccc; 
                -webkit-transition: color.3s; 
            } 
            #search input:focus::-webkit-input-placeholder{ 
                color: #FFFFFF; 
                -webkit-transition: color.3s; 
            } 
		    #search img{
		    	    height: 24px;
		    	    float: right;
		    	    margin: 8px 10px;
		    	    display: none;
		    }
		    #search_icon{
		    	    margin-left: 50px;
		    	    background-color: #fff;
		    	    width: 40px;
		    	    height: 40px;
		    	    border-radius: 10px;
		    	    text-align: center;
		    }

		    #search_icon img{
		    	    height: 30px;
		    	    margin-top: 5px;
		    }
		    #rt{
		    	    width: 260px;
		    	    height: 100%;
		    	    margin-right: 50px;
		    }
		    #nianbiao{
		    	    background-color: #F69C41;
		    	    width: 64px;
		    	    height: 30px;
		    	    margin: 60px 0 60px 50px;
		    	    border-radius: 25px;
		    	    color: #fff;
		    	    font-size: 16px;
		    	    text-align: center;
		    	    line-height: 30px;
		    	    float: left;
		    	    letter-spacing: 0.3px;
		    }
		 
		    #time{
		    	    width: 130px;
		    	    height: 68px;
		    	    margin: 41px 0;
		    	    font-size: 16px;
		    	    float: right;
		    	    line-height: 30px;
		    	    text-align: right;
		    	    display: flex;
		    	    align-items: center;
		    }

		    .tm{
		    	    float: right;
		    }
		    #year{
		    	    float: right;
		    	    font-size: 24px;
		    	    line-height: 30px;
		    	    width: 56px;
		    	    text-align: center;
		    	    display: flex;
		    	    flex-direction: column;
		    	    align-items: center;
		    }
		    #year img{
		    	    height: 5px;
		    	    margin: 6px 0;
		    	    opacity: 1;
		    }

		    #year input{
		    	    width: 43px;
		    	    height: 25px;
		    	    outline: none;
		    	    font-size: 24px;
		    	    background-color: transparent;
		    	    border: 0;
		    	    text-align: center;
		    }
		    #ruler{
		    	    position: absolute;
		    	    bottom: 30px;
		    	    left: 50px;
		    	    width: 80px;
		    	    height: 40px;
		    	    text-align: center;
		    	    font-weight: 350;
		    	    line-height: 30px;
		    }
		    #rl{
		    	    box-sizing: border-box;
		    	    position: relative;
		    	    top: 0;
		    	    margin: 0;
		    	    width: 100%;
		    	    height: 10px;
		    	    border: 2px solid #181818;
		    	    border-top: 0;
		    }
		    #size{
		    	    position: absolute;
		    	    right: 50px;
		    	    bottom: 85px;
		    	    height: 82px;
		    	    width: 39px;
		    	    margin: 0;
		    	    display: flex;
		    	    flex-direction: column;
		    	    justify-content: space-between;
		    	    align-content: center;
		    }
		    #size div{
		    	    height: 39px;
		    	    width: 39px;
		    	    border-radius: 10px;
		    	    background-color: #fff;
		    }
		    #size img{
		    	    height: 17px;
		    	    margin: 11px;
		    }

		    
		    	    
		    #bai{
		    	    width: 100%;
		    	    height: 100%;
		    	    background-color: #FFFFFF;
		    	    position: absolute;
		    	    top: 0;
		    	    left: 0;
		    	    margin: 0;
		    	    opacity: 0.5;
		    	    display: none;
		    }
		    #list{
		    	    position: absolute;
		    	    margin: 0;
		    	    left: -320px;
		    	    top: 0;
		    	    width: 300px;
		    	    height: 100%;
		    	    background-color: #8C653E;
		    	    box-shadow: 2px 0 30px #8C653E;
		    }
		    #title{
		    	    height: 24px;
		    	    width: 100%;
		    	    margin-top: 60px;
		    	    display: flex;
		    	    justify-content: flex-end;
		    	    font-size: 22px;
		    	    line-height: 24px;
		    	    color: #fff;
		    }
		    #title div{
		    	    height: 100%;
		    	    width: 25px;
		    	    background-color: #F69C41;
		    	    margin-left: 10px;
		    }
		    #list_main{
		    	    width: 220px;
		    	    height: 100%;
		    	    margin: 80px 40px 0 40px;
		    	    overflow: scroll;
		    }
		    
		    #list_main > div{
		    	    display: flex;
		    	    justify-content: flex-start;
		    	    flex-wrap: wrap;
		    	    margin-top: 5px;
		    	    margin-bottom: -5px;
		    }
		    .list_line{
		    	    height: 100%;
		    	    width: 20px;
		    	    margin: 0;
		    }
		    .circle{
		    	    width: 20px;
		    	    height: 20px;
		    	    background-color: #F69C41;
		    	    border-radius: 100%;
		    }
		    .line{
		    	    height: 100px;
		    	    width: 9px;
		    	    border-right: 2px solid #FFDDC2;
		    }
		    .list_words{
		       	margin-left: 10px;
		    }
		    .list_title{
		        font-weight: 400;
		        font-size: 15px;
		        color: #FFDDB0;
		        width: 130px;
		        margin-top: -5px;
		    }
		    .list_title span{
		    	    font-size: 20px;
		    }
		    .list_content{
		    	    font-size: 12px;
		    	    color: #fff;
		    	    font-weight: 300;
		    	    margin-top: 4px;
		    }
		    #mode_button{
		    	    height: 39px;
		    	    width: 39px;
		    	    color: #F69C41;
		    	    background-color: #FFFFFF;
		    	    font-size: 12px;
		    	    position: absolute;
		    	    right: 50px;
		    	    bottom: 30px;
		    	    text-align: center;
		    	    border-radius: 10px;
		    	    line-height: 14px;
		    	    padding: 5.5px 0;
		    	    box-sizing: border-box;
		    	}

		    #mode_list{
		    	    display: none;
		    	    justify-content: center;
		    	    position: absolute;
		    	    width: 360px;
		    	    height: 84px;
		    	    right: 50px;
		    	    bottom: 30px;
		    	    background-color: #F69C41;
		    	    border-radius: 5px;
		    	    align-items: center;
		    }
		    #mode_list > div{
		    	    width: 104px;
		    	    height: 64px;
		    	    background-size: 100% 100%;
		    	    margin: 0 6px;
		    	    color: #FFFFFF;
		    	    text-align: center;
		    	    text-shadow: 0 0 4px #8C653E;
		    	    display: flex;
		    	    justify-content: center;
		    	    align-items: center;
		    	    box-sizing: border-box;
		    }
		    .select{
		    	    width: 50px;
		    	    height: 18px;
		    	    border-radius: 10px;
		    	    margin: 19px 0;
		    }

		    .select img{
		    	    height: 14px;
		    	    margin: 2px 2px;
		    	    float: left;
		    	    display: none;
		    }
		    .select p{
		    	    line-height: 18px;
		    	    color: #FFFFFF;
		    	    font-size: 12px;
		    	    font-weight: 600;
		    	    float: left;
		    	    width: 100%;
		    	    text-align: center;
		    }
		    #mode_city{
		    	    background-image: url(../img/mode-1.jpg);
		    	    box-sizing: border-box;
		    	    border: 4px solid #FFFFFF;
		    }
		    #mode_city .select img{
		    	    display: block;
		    }
		    #mode_city .select p{
		    	    width: 28px;
		    }
		    #mode_junshi{
		    	    background-image: url(../img/mode-1.jpg);
		    }
		    
		    #mode_waijiao{
		    	    background-image: url(../img/mode-1.jpg);
		    }
		    #search_icon,#gain,#reduce,#nianbiao,#year{
		    	cursor: pointer;
		    }
		    #test{
		    	    width: 1200px;
		    	    margin: 0 auto;
		    	    margin-top: 5px;
		    	    left: -7px;
		    	    position: relative;
		    	    right: 0;
		    	    opacity: 0.5;
		    	    
		    }
		    #city{
		    	    position: absolute;
		    	    font-size: 9px;
		    	    top: -2px;
		    	    left: -2px;
		    }
		    .city_name{
		    	    width: 40px;
		    	    margin-top: -3px;
		    	    margin-left: -8px;
		    }
		    .city{
		    	    position: absolute;
		    	    display: flex;
		    	    justify-content: flex-start;
		    	    
		    }
		    .city_position{
		    	    width: 5px;
		    	    height: 5px;
		    	    background-color: black;
		    	    border-radius: 100%;
		    }

