* {
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	background-color: #f3f3f3;
}

body {
	width: 100%;
	background: url(../img/bg.png) no-repeat;
	background-size: 100%;
}

.container {
	width: 100%;
	height: 100%;
	padding: 0 0.32rem;
	position: relative;
}

.tit {
	width: 2.55rem;
	margin-top: 0.72rem;
}

.list-1 {
	margin-top: -0.26rem;
}

.list-1>div {
	height: 0.16rem;
	margin-bottom: 0.06rem;
}

.list-1>div>img {
	width: 0.16rem;
	float: left;
	margin-right: 0.08rem;
}

.list-1>div>p {
	font-size: 0.12rem;
	letter-spacing: 0.018rem;
	color: #ffc9cc;
	width: 2.4rem;
	line-height: 0.16rem;
}

.main {
	margin-top: 0.18rem;
	width: 100%;
	height: 2.23rem;
	background-color: #f9f1f2;
	box-shadow: 0rem 0.04rem 0.18rem 0rem rgba(158, 84, 88, 0.31);
	border-radius: 0.08rem;
	background-image: url(../img/leave.png);
	background-size: 100%;
	padding: 0.1rem;
}

.main-container {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.69);
	border-radius: 0.08rem;
	position: relative;
}

.words-1 {
	font-size: 0.12rem;
	color: #3D3D3D;
}

.main-container>div {
	position: absolute;
	top: 0;
	left: 0;
}

.main-intro {
	width: 100%;
	height: calc(100% - 0.16rem);
	overflow-y: scroll;
	padding: 0 0.22rem;
	padding-top: 0.18rem;
}

.main-intro p {
	margin-bottom: 0.1rem;
	line-height: 0.18rem;
	text-indent: 0.24rem;
}

.tab {
	width: 100%;
	margin-top: 0.18rem;
	display: flex;
	justify-content: space-between;
}

.tab .item {
	height: 0.6rem;
	width: 0.6rem;
	background-color: #eae7e8;
	border-radius: 0.08rem;
	margin-right: 0.1rem;
	position: relative;
	padding: 0.12rem;
}

.tab .item:last-child {
	margin-right: 0;
}

.tab .item.selected {
	width: 1.71rem;
	background-color: #be0a13;
	opacity: 1;
	padding: 0.12rem 0.14rem;
}

.tab .item .tab-icon {
	width: 0.36rem;
	height: 0.36rem;
	background-color: #eae7e8;
	box-shadow: none;
	border-radius: 100%;
	position: absolute;
}

.tab .item .tab-icon.no-sel {
	background-color: transparent;
	box-shadow: none;
}

.tab .item .tab-icon.sel {
	display: none;
	z-index: 1111111;
	background-color: #fff;
	box-shadow: 0rem 0.07rem 0.05rem 0rem rgba(146, 10, 17, 0.56);
}

.tab .item .tab-icon i {
	font-size: 0.22rem;
	width: 100%;
	text-align: center;
	position: absolute;
	height: 100%;
	line-height: 0.36rem;
	top: 0;
	left: 0;
}

.tab .item .tab-icon.no-sel i {
	color: #B7A5A6;
	opacity: 0.5;
}

.tab .item .tab-icon.sel i {
	color: #BE0A13;
	opacity: 1;
}

.tab .item .tab-words {
	display: none;
}

.tab .item.selected .tab-words {
	position: absolute;
	right: 0.14rem;
	top: 0.18rem;
}

.tab .item.selected .tab-words div {
	width: 0.64rem;
	text-align: justify;
}

.tab .item.selected .tab-words>div:first-child {
	font-size: 0.16rem;
	line-height: 0.16rem;
	height: 0.16rem;
	font-weight: bold;
	color: #FFFFFF;
}

.tab .item.selected .tab-words>div:last-child {
	color: rgba(255, 255, 255, 0.73);
	font-size: 0.08rem;
	line-height: 0.14rem;
	height: 0.14rem;
	font-weight: lighter;
}

.justify {
	width: 120px;
	text-align: justify;
}

.justify:after {
	content: "";
	padding-left: 100%;
	display: inline-block;
}

.main-container .main-pic {
	width: 100%;
	height: 100%;
}

.main-container .main-pic .swiper-container {
	width: 100%;
	height: 100%;
	--swiper-navigation-size: 0.2rem;/* 设置按钮大小 */
}

.swiper-wrapper {
	/* 通过改变animation-timing-function 制作弹性切换效果 */
	transition: 2s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s;
}

.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.swiper-slide img{
	width: 100%;
}
.swiper-button-prev, .swiper-button-next{
	outline: none;
}
/* .item > *{
	display: none !important;
} */
