* {
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	background-color: #f3f3f3;
}

body {
	width: 100%;
	background: url(../img/bg.png) no-repeat;
	background-size: 100%;
}

.container {
	width: 100%;
	height: 100%;
	padding: 0 0.32rem;
	position: relative;
}

.tit {
	width: 2.55rem;
	margin-top: 0.72rem;
}

.list-1 {
	margin-top: 0.1rem;
}

.list-1>div {
	height: 0.16rem;
	margin-bottom: 0.06rem;
}

.list-1>div>img {
	width: 0.16rem;
	float: left;
	margin-right: 0.08rem;
}

.list-1>div>p {
	font-size: 0.12rem;
	letter-spacing: 0.018rem;
	color: #ffc9cc;
	width: 2.4rem;
	line-height: 0.16rem;
}

.main {
	margin-top: 0.18rem;
	width: 100%;
	height: 2.23rem;
	background-color: #f9f1f2;
	box-shadow: 0rem 0.04rem 0.18rem 0rem rgba(158, 84, 88, 0.31);
	border-radius: 0.08rem;
	background-image: url(../img/leave.png);
	background-size: 100%;
	padding: 0.1rem;
}

.main-container {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.69);
	border-radius: 0.08rem;
}

.words-1 {
	font-size: 0.12rem;
	color: #3D3D3D;
}

.main-intro {
	width: 100%;
	height: calc(100% - 0.18rem);
	overflow-y: scroll;
	padding: 0 0.22rem;
	padding-top: 0.18rem;
}

.main-intro p {
	margin-bottom: 0.1rem;
	line-height: 0.18rem;
	text-indent: 0.24rem;
}
.tab{
	width: 100%;
	margin-top: 0.18rem;
	display: flex;
	justify-content: space-between;
}
.tab .item{
	height: 0.6rem;
	width: 0.6rem;
	background-color: #b7a5a6;
		border-radius: 0.08rem;
		opacity: 0.14;
}
.tab .item.selected{
	width: 1.71rem;
		background-color: #be0a13;
		opacity: 1;
}